@font-face {
  font-family: Commando;
  src: url("../../fonts/commando.ttf");
}

@font-face {
  font-family: Avenir;
  src: url("../../fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: Doubleplus;
  src: url("../../fonts/Doubleplus-6Yy4g.ttf");
}

@font-face {
  font-family: Gumela;
  src: url("../../fonts/Gumela.ttf");
}
