body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  height: 100%;
}

footer {
  background-color: var(--orange);
  padding-bottom: 20px;
  margin-top: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

footer .container div {
  margin-left: 4vw;
  padding: 0 4.2%;
}

.footer-gamehub,
.footer-support,
.footer-sitemap,
.footer-socials {
  display: flex;
  flex-direction: column;
}

.footer-h2 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Avenir", sans-serif;
}
footer .container div a {
  color: var(--darkblue);
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  font-family: "Avenir", sans-serif;
  transition: 0.3s ease;
}
.footer-socials {
  margin-top: 1vh;
}
.container .footer-socials a {
  font-size: 1.5rem;
}

/*----- HOVER EFFECTS -----*/

.container div a:hover {
  transform: scale(1.1) translateX(5px);
  transition: 0.3s ease;
}

/*----- MEDIA QUERIES -----*/

@media (max-width: 990px) {
  footer .container {
    flex-wrap: wrap;
  }
  .footer-socials {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .footer-socials a {
    padding: 0 4.05vw;
  }
  footer .container div {
    margin-left: 4vw;
    padding: 0;
  }
  footer .container div h2 {
    font-size: 1.2rem;
  }
  footer .container div a {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .c;
}
