/* import fonts */
@font-face {
  font-family: "Commando";
  src: url("../../fonts/commando.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Doubleplus";
  src: url("../../fonts/Doubleplus-6Yy4g.ttf");
}

@font-face {
  font-family: "Gumela";
  font-style: normal;
  font-weight: 400;
  src: local("Gumela"), url("https://fonts.cdnfonts.com/s/22720/Gumela.woff") format("woff");
}

/* Resets */

:root {
  --darkblue: #1b203d;
  --lightblue: #bac5cf;
  --orange: #e6ae65;
  --darkestblue: #131521;
  --warn: #ff7878;
  --success: #0fbc17;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--darkestblue);
  font-family: "Avenir", sans-serif;
  color: var(--lightblue);
  font-size: 16px;
}

/* Navbar */

ul li {
  font-family: "Doubleplus", sans-serif;
}

header {
  max-height: 100px;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  height: 100px;
  background: var(--orange);
  box-shadow: black 0px 5px 30px;
  z-index: 100;
}

.menu__ul {
  position: fixed;
  top: 100px;
  display: none;
  left: -500px;
  background: var(--darkblue);
  width: 100%;
}

.menu__ul.open {
  display: flex;
  left: 0;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.menu__list {
  list-style: none;
  text-align: center;
}

.menu__link {
  color: var(--orange);
  text-decoration: none;
  display: block;
  line-height: 2.5;
  transition: ease 0.2s;
  font-size: 1.75em;
}

.menu__link--current {
  position: relative;
}

.menu__link--current::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  background: var(--orange);
  z-index: 100;
}

.menu__logo {
  transform: scale(0.85);
  transition: 0.3s ease;
}

.menu__hamburger {
  background-color: transparent;
  display: block;
  border: none;
  color: var(--darkestblue);
  font-size: 1.7rem;
  cursor: pointer;
}

.menu__hamburger {
  outline: none;
}

.menu__link--counter {
  position: relative;
}

.menu__counter {
  font-family: "Avenir";
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 10px;
  border-radius: 50%;
  color: var(--darkblue);
  border: 2px solid var(--orange);
  padding: 0 7px;
  background: var(--orange);
}

/*-------- HOVER EFFECTS ---------*/
.menu__link:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.menu__logo:hover {
  transform: scale(0.9);
  transition: 0.3s ease;
}

/* -------- MEDIA QUERIES --------- */

@media screen and (min-width: 1000px) {
  .menu {
    padding: 0 25px;
  }
  .menu__hamburger {
    display: none;
  }
  .menu__list {
    position: unset;
    display: flex;
    justify-content: space-between;
    background: none;
  }
  .menu__list div {
    display: flex;
    flex-flow: row nowrap;
  }
  .menu__center {
    margin-left: 27%;
  }
  .menu__link {
    color: var(--darkblue);
    margin: 0px 1rem;
  }
  .menu__link--current::after {
    width: 100%;
    background: var(--darkblue);
  }
  .menu__counter {
    color: var(--orange);
    border: 2px solid var(--darkblue);
    background: var(--darkblue);
    padding: 0 7px;
    margin: 0;
    font-size: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__center {
    margin-left: 32%;
  }
}

@media screen and (min-width: 1500px) {
  .menu__center {
    margin-left: 38%;
  }
}

/*  Per Page "Hero" (banner) */
.banner {
  margin: 200px auto 5rem auto;
  background: var(--orange);
  width: 80%;
  min-width: 300px;
}

.banner__container {
  text-align: center;
  flex-flow: row nowrap;
}

.banner__txt {
  font-family: "Commando", sans-serif;
  color: var(--darkblue);
  font-size: 4.7rem; /* to fit mobile */
  padding: 1rem 0 0.5rem 0;
}

@media screen and (min-width: 500px) {
  .banner__txt {
    font-size: 6rem;
  }
}

@media screen and (min-width: 900px) {
  .banner {
    width: 70%;
    cursor: default;
  }
  .banner__txt {
    font-size: 8rem;
    padding: 2rem 0 0.5rem 0;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .banner__txt {
    font-size: 11rem;
  }
}

/* Footer  (not global, but 2 lines) */
footer {
  margin: 15% 0 2rem 0;
  text-align: center;
}

/* button stylings */

button.send {
  padding: 1rem 3rem;
  font-size: 26px;
  font-family: "Avenir", sans-serif;
  color: var(--lightblue);
  background: var(--darkblue);
  border: none;
  border-radius: 3000rem;
  cursor: pointer;
  display: flex;
  margin: 2rem auto 0 auto;
}

.send:hover {
  color: var(--orange);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

@media screen and (min-width: 750px) {
  button.send {
    margin: 2rem 0;
  }
}
