/* import fonts */
@font-face {
  font-family: "Commando";
  src: url("../../fonts/commando.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Doubleplus";
  src: url("../../fonts/Doubleplus-6Yy4g.ttf");
}

@font-face {
  font-family: "Gumela";
  src: url("../../fonts/Gumela.ttf");
}

/* Resets */

:root {
  --darkblue: #1b203d;
  --lightblue: #bac5cf;
  --orange: #e6ae65;
  --darkestblue: #131521;
  --warn: #ff7878;
  --success: #0fbc17;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--darkestblue);
  font-family: "Avenir", sans-serif;
  color: var(--lightblue);
}

/* Navbar */

ul li {
  font-family: "Doubleplus", sans-serif;
}

header {
  max-height: 100px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  height: 100px;
  background: var(--orange);
  box-shadow: black 0px 5px 30px;
  z-index: 100;
}

.nav-ul.show {
  display: flex;
  left: 0;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  transition: left linear 0.3s;
}

.nav-ul {
  position: fixed;
  top: 100px;
  display: none;
  left: -500px;
  background: var(--darkblue);
  width: 100%;
  list-style: none;
  text-align: center;
}

.nav-ul div {
  display: block;
}

.nav-ul div li a {
  color: var(--orange);
  text-decoration: none;
  display: block;
  line-height: 2.5;
  transition: ease 0.2s;
  font-size: 1.75em;
}

.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  background: var(--orange);
  z-index: 100;
}

.navlogo {
  transform: scale(0.85);
  transition: 0.3s ease;
}

.ham-menu {
  background-color: transparent;
  display: block;
  border: none;
  color: var(--darkestblue);
  font-size: 1.7rem;
  cursor: pointer;
}

.ham-menu:focus {
  outline: none;
}

.cart {
  position: relative;
}

.cart-count {
  font-family: "Avenir";
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 10px;
  border-radius: 50%;
  color: var(--darkblue);
  border: 2px solid var(--orange);
  padding: 0 7px;
  background: var(--orange);
}

/*-------- HOVER EFFECTS ---------*/
.nav-ul div li a:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.navlogo:hover {
  transform: scale(0.9);
  transition: 0.3s ease;
}

/* -------- MEDIA QUERIES --------- */

@media screen and (min-width: 1000px) {
  nav {
    padding: 0 25px;
  }
  .ham-menu {
    display: none;
  }
  .nav-ul {
    position: unset;
    display: flex;
    justify-content: space-between;
    background: none;
  }
  .nav-ul div {
    display: flex;
    flex-flow: row nowrap;
  }
  .nav-ul .nav-center {
    margin-left: 27%;
  }
  .nav-ul div li a {
    color: var(--darkblue);
    margin: 0px 1rem;
  }
  .current-page::after {
    width: 100%;
    background: var(--darkblue);
  }
  .cart-count {
    color: var(--orange);
    border: 2px solid var(--darkblue);
    background: var(--darkblue);
    padding: 0 7px;
    margin: 0;
    font-size: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-ul .nav-center {
    margin-left: 32%;
  }
}

@media screen and (min-width: 1500px) {
  .nav-ul .nav-center {
    margin-left: 38%;
  }
}

/*  Per Page "Hero" */
h1 {
  font-family: "Commando", sans-serif;
}

.banner {
  margin: 200px auto 5rem auto;
  background: var(--orange);
  width: 80vw;
}

.banner-container {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
}

.banner-txt {
  color: var(--darkblue);
  font-size: 12.4375vw;
  align-self: flex-end;
  margin-top: 3vh;
}

/* Footer  (not global, but 2 lines) */
footer {
  margin: 15% 0 2rem 0;
  text-align: center;
}

/* button stylings */

button.send {
  padding: 1rem 3rem;
  font-size: 26px;
  font-family: "Avenir", sans-serif;
  color: var(--lightblue);
  background: var(--darkblue);
  border: none;
  border-radius: 3000rem;
  cursor: pointer;
  display: flex;
  margin: 2rem auto 0 auto;
}

.send:hover {
  color: var(--orange);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

@media screen and (min-width: 750px) {
  button.send {
    margin: 2rem 0;
  }
}
