@import "imports/variables.css";
@import "imports/fonts.css";
@import "imports/navbar.css";
@import "imports/global.css";
@import "imports/banner.css";

main {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  text-align: center;
}

.text-container h1 {
  font-weight: lighter;
  font-size: 10rem;
  color: var(--orange);
}

.text-container {
  color: var(--lightblue);
}

.container img {
  padding-top: 2rem;
}
