@import "imports/variables.css";
@import "imports/fonts.css";
@import "imports/navbar.css";
@import "imports/global.css";
@import "imports/banner.css";
@import "imports/footer.css";

main {
  font-family: "Avenir", sans-serif;
  font-size: 20px;
  color: var(--darkblue);
}

.titles {
  font-family: "Gumela", sans-serif;
}

.inside {
  margin: 1rem 0;
  text-align: left;
  /* color: ; */
}

.checkout {
  display: block;
  margin: 1rem auto;
  padding: 5%;
  max-width: 80%;
  background: var(--lightblue);
}

.checkout input {
  width: 100%;
}

.title-checkout {
  display: none;
}

.title-cart {
  margin-top: 2rem;
  color: var(--darkestblue);
  text-align: right;
  margin-bottom: 1rem;
}

.cart-info {
  text-align: right;
}

.cart-info p a {
  margin-right: 20px;
  color: var(--darkblue);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.total-price {
  text-align: right;
}

@media screen and (min-width:1000px) {
    .checkout {
        max-width: 60%;
    }
}


@media screen and (min-width:1400px) {
    .checkout {
        max-width: 50%;
    }
}