@import "imports/variables.css";
@import "imports/fonts.css";
@import "imports/navbar.css";
@import "imports/global.css";
@import "imports/banner.css";
@import "imports/footer.css";

.contact-form-text {
    font-family: "Avenir", sans-serif;
}


.contact-form {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}
.contact-form-text{
    display: block;
    width: 100%;
    margin: 16px 0;
    border: 0;
    background: var(--lightblue);
    padding: 20px 40px;
    outline: none;
    color: black;
    font-family: "Avenir", sans-serif;
    transition: 0.2s;
    height: 60px;
}
.contact-form-text:focus {
    font-size: 16px;
}

textarea.contact-form-text{
    resize: none;
    height: 200px;
}

.contact-form-btn {
    display: flex;
    margin: 0 auto;
    background: var(--darkblue);
    color: var(--lightblue);
    font-size: 1.5vw;
    font-weight: lighter;
    border-radius: 45px;
    padding: 1.5vh 10vw 1.5vh 10vw;
    text-align: center;
    flex-direction: column;
    display: flex;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.contact-form-btn:hover {
    padding: 1.7vh 10.2vw 1.7vh 10.2vw;
    color: orange;
}

/*-------- MEDIA QUERIES ---------*/
@media (max-width: 828px) {
    .contact-form-btn {
        padding: 1.5vh 9vh 1.5vh 9vh;
        font-size: 1.5vh;
    }
    .contact-form-btn:hover {
        padding: 1.6vh 9.1vh 1.6vh 9.1vh;        
        color: orange;
    }
}