@import "components/global.css";

body {
  min-height: 100%;
}

/*-------- CTA ---------*/
.cta {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__title {
  font-family: "Avenir", sans-serif;
  color: var(--lightblue);
  font-size: 2.2rem;
  font-weight: lighter;
  border-bottom: 2px solid var(--orange);
  text-align: center;
}

.cta__container {
  margin-top: 3rem;
}

.cta__button {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  align-items: center;
  transition: 0.3s ease;
}

.fa-angle-right {
  font-size: 5rem;
  margin-left: 2vw;
  color: var(--darkblue);
}

.cta__text {
  font-family: "Doubleplus", sans-serif;
  background: var(--darkblue);
  color: var(--lightblue);
  font-size: 2rem;
  font-weight: lighter;
  border-radius: 45px;
  padding: 1.5vh 7vw 1.5vh 7vw;
  text-align: center;
  flex-direction: column;
  display: flex;
}

/*-------- HOVER EFFECTS ---------*/
.cta__text:hover h3 {
  color: var(--orange);
}

.cta__container:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

/*-------- MEDIA QUERIES ---------*/
@media screen and (min-width: 700px) {
  .cta__title {
    font-size: 3rem;
  }
}