@import "imports/variables.css";
@import "imports/fonts.css";
@import "imports/navbar.css";
@import "imports/global.css";
@import "imports/banner.css";

body {
  min-height: 100%;
}

/*-------- CTA ---------*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  font-family: "Avenir ", sans-serif;
  color: var(--lightblue);
  font-size: 5vh;
  font-weight: lighter;
  border-bottom: 2px solid var(--orange);
}

.ctacontainer {
  margin-top: 3rem;
}
.cta {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  align-items: center;
  transition: 0.3s ease;
}
.fa-angle-right {
  font-size: 7vh;
  margin-left: 2vw;
  color: var(--darkblue);
}
.cta h3 {
  font-family: "Doubleplus", sans-serif;
  background: var(--darkblue);
  color: var(--lightblue);
  font-size: 4vh;
  font-weight: lighter;
  border-radius: 45px;
  padding: 1.5vh 7vw 1.5vh 7vw;
  text-align: center;
  flex-direction: column;
  display: flex;
}

/*-------- HOVER EFFECTS ---------*/
.cta:hover h3 {
  color: var(--orange);
}

.cta:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

/*-------- MEDIA QUERIES ---------*/
@media (max-width: 828px) {
  .cta {
    margin-top: 2rem;
  }
  .fa-angle-right {
    font-size: 5vh;
  }
}
@media (max-height: 750px) {
  .cta h3 {
    margin-bottom: 50px;
  }
  .fa-angle-right {
    margin-bottom: 50px;
  }
}
