@import "imports/variables.css";
@import "imports/fonts.css";
@import "imports/navbar.css";
@import "imports/global.css";
@import "imports/banner.css";

.cta {
  padding-top: 5%;
  display: flex;
  flex-flow: row nowrap;
}
.cta--container {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.buy,
.sell {
  font-family: "Doubleplus", sans-serif;
  background: var(--darkblue);
  color: var(--lightblue);
  font-size: 2vw;
  font-weight: lighter;
  border-radius: 45px;
  width: 15vw;
  height: 4vw;
  padding-top: 0.75vw;
  text-align: center;
  flex-direction: column;
  display: flex;
  text-decoration: none;
  transition: 0.3s ease;
}
.buy:hover,
.sell:hover {
  color: var(--orange);
  transition: 0.3s ease;
  transform: scale(1.05);
}
.divider {
  margin: 0 5vw;
  font-family: "Doubleplus", sans-serif;
  color: var(--orange);
  font-size: 1.75vw;
}
@media (max-width: 828px) {
  .banner-logo {
    display: none;
  }
  .banner-txt {
    align-self: center;
    margin-left: 0;
    margin-top: 2vh;
  }
  .container h2 {
    font-size: 5vw;
  }
  .banner-txt {
    font-size: 15vw;
  }
  .buy,
  .sell {
    height: 5vh;
    width: 18vh;
    font-size: 3vh;
  }
  .buy:hover,
  .sell:hover {
    font-size: 3.1vh;
    width: 18.1vh;
    height: 5.1vh;
  }
  .divider {
    margin: 0 5vw;
    font-family: "Doubleplus", sans-serif;
    color: var(--orange);
    font-size: 2vh;
  }
}
