@import "imports/variables.css";
@import "imports/fonts.css";
@import "imports/navbar.css";
@import "imports/global.css";
@import "imports/footer.css";
@import "imports/loader.css";

main {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-container {
  max-width: 90%;
  background: var(--darkblue);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.product-container .left {
  text-align: center;
}

.left {
  width: 100%;
}

.left .product-image {
  background-size: cover;
  min-height: 200px;
  width: 100%;
}

.left h2 {
  font-family: "Doubleplus", sans-serif;
  color: var(--orange);
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.right p,
.right h3 {
  font-family: "Avenir", sans-serif;
  font-size: 15px;
  color: var(--orange);
  font-weight: normal;
}

.right p {
  margin-top: 10px;
}

.right .price {
  margin-top: 2px;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn-plus,
.btn-minus,
.btn {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 1rem 0;
  width: 50%;
  background-color: var(--darkestblue);
  border-radius: 20px;
  font-family: "Doubleplus", sans-serif;
  font-weight: 200px;
  font-size: 1rem;
  color: var(--orange);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-plus:hover,
.btn-minus:hover,
.btn:hover {
  color: var(--lightblue);
  transform: scale(1.1);
  transition: 0.3s ease;
}

.btn {
  text-decoration: none;
  font-family: 2rem;
}

.path-container,
.path-container a {
  margin-bottom: 1rem;
  color: var(--lightblue);
  font-family: "gumela", sans-serif;
}

.path-container {
  width: 90%;
  cursor: default;
}

@media screen and (min-width: 990px) {
  main {
    margin-top: 200px;
  }
  .product-container {
    max-width: 80%;
    flex-flow: row wrap;
    align-items: unset;
  }
  .left {
    display: flex;
    flex-flow: column;
    width: 50%;
  }
  .left .product-image {
    height: 100%;
  }
  .right {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-top: 2.4rem;
  }
  .right h3,
  .right p {
    font-size: 1rem;
    max-width: 95%;
  }
  .right .price {
    margin-top: 1rem;
  }
  .path-container {
    width: 80%;
  }
}
