@import "components/global.css";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  min-width: 350px;
  background: var(--darkblue);
  padding: 2rem;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.container__title {
  font-size: 2rem;
  color: var(--orange);
  font-family: "Gumela", sans-serif;
  text-align: center;
}

.container__seperator {
  display: flex;
  color: var(--orange);
  margin: 15px auto 0 auto;
  border-bottom: var(--orange) solid 1px;
  width: 10vw;
}

.container__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0 30px;
  background-color: var(--darkblue);
}

.container__form div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.container__label {
  font-size: 1.1rem;
}

.container__input {
  border: 0;
  background: var(--lightblue);
  padding: 1rem;
  outline: none;
  color: black;
  font-family: "Avenir", sans-serif;
  transition: 0.2s;
  height: 2.5rem;
}

.container__input:focus {
  font-size: 16px;
}

.container__error {
  display: none;
}

.container__btn {
  border: none;
  font-size: 1.2rem;
  margin: 1rem auto;
  background: var(--orange);
  color: var(--darkblue);
  border-radius: 50px;
  padding: 1rem;
  text-align: center;
  transition: 0.3s ease;
  width: 50%;
  cursor: pointer;
}

.container__btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.container__help {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 5px;
}

.container__warning {
  margin-bottom: 15px;
  text-align: center;
}

.container__text {
  display: flex;
  font-family: "Avenir", sans-serif;
  color: var(--orange);
  align-self: center;
  transition: 0.3s ease;
}

.container__text:hover {
  color: var(--lightblue);
  transition: 0.3s ease;
}

.container__error {
  color: var(--warn);
}

@media screen and (min-width: 400px) {
  .container {
    margin-top: 0;
  }
}
